.sortDropdown {
  position: relative;
  width: 7.9375rem;
}

.button {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--Line-normal);
  border-radius: 0.25rem;
  background: var(--Common-white);
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  position: absolute;
  top: calc(100% + 0.25rem);
  left: 0;
  width: 100%;
  border: 1px solid var(--Line-normal);
  border-radius: 0.25rem;
  background: var(--Common-white);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
  z-index: 200;
}

.item {
  width: 100%;
  min-height: 2.5rem;
  padding: 0.625rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Common-white);
}

.item:hover {
  background: var(--Neutral-99);
}

.itemActive {
  background: var(--Primary-normal);
}

@media (max-width: 767px) {
  .sortDropdown {
    width: 6.5rem;
  }

  .button {
    height: 2.25rem;
    padding: 0.375rem 0.5rem;
  }

  .item {
    min-height: 2.25rem;
    padding: 0.5rem;
  }
}
