.RecommendContent {
  max-width: 77.5rem;
  margin: 6.25rem auto;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 1.25rem 0.75rem;
}

.card {
  background: var(--Common-white);
  overflow: hidden;
  cursor: pointer;
}

.thumb {
  height: 13.5625rem;
  background: #d9d9d9;
}

.cardTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 0 0;
}

.badge {
  display: flex;
  padding: 0.125rem 0.375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.125rem;
  background: var(--Neutral-99);
  backdrop-filter: blur(10px);
}

.cardDesc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
}

.heroCard {
  grid-row: span 2;
}

.heroThumb {
  height: 100%;
}

.moreBtn {
  display: flex;
  padding-bottom: 0.125rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--Neutral-60);
}
