.mainVisual {
  position: relative;
  width: 100%;
  height: 42rem;
  color: #fff;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.visualSlide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sliderTrack {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: grab;
  user-select: none;
}

.sliderTrack.dragging {
  cursor: grabbing;
}

.slideItem {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.slideItemImage {
  position: relative;
  width: 100%;
  height: 100%;
}

.slideItemImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
  z-index: 1;
}

.slideInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 1240px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1.25rem;
  z-index: 2;
}

.slideContent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* 반응형 */
@media (max-width: 768px) {
  .slideInner {
    padding: 0 1rem;
  }

  .slideContent {
    max-width: 100%;
  }
}

.textBox {
  position: absolute;
  top: 30%;
  left: 100px;
  max-width: 600px;
}

.subTitle {
  font-size: 14px;
  color: #8a6bff;
  margin-bottom: 12px;
  font-weight: 600;
}

.title {
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.title strong {
  font-weight: 700;
}

.desc {
  font-size: 16px;
  line-height: 1.6;
  color: #ddd;
}

.paging {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1240px;
  font-size: 16px;
  color: #fff;
  box-sizing: border-box;
}


.pagingButton {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  aspect-ratio: 1/1;
  border-radius: 62.5rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  transition: opacity 0.2s ease;
}

.paging button:hover:not(:disabled) {
  opacity: 0.7;
  cursor: pointer;
}

.paging button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.paging .current {
  font-weight: 600;
}
