/* src/components/common/Skeleton/styles.module.css */

.skeleton {
  background: linear-gradient(
    90deg,
    var(--Neutral-99) 25%,
    var(--Neutral-95) 50%,
    var(--Neutral-99) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
