/* src/app/bookmarks/styles.module.css */

.container {
  max-width: 77.5rem;
  margin: 0 auto;
  padding-bottom: 12.5rem;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.75rem 0.75rem;
  width: 100%;
  box-sizing: border-box;
}

.cardListContainer {
  flex: 1;
  min-width: 0;
}

/* 스켈레톤 UI 스타일 */
.skeletonProfileCard {
  width: 18.5625rem;
  padding: 1.5rem 1.25rem;
  border-radius: 0.5rem;
  background: var(--Common-white, #fff);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  height: fit-content;
}

.skeletonCard {
  width: 18.8125rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background: var(--Common-white, #fff);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

/* 태블릿 (768px ~ 1279px) */
@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    flex-direction: column;
    padding: 0;
    padding-bottom: 5rem;
    max-width: 100%;
    overflow-x: hidden;
  }

  .cardList {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }

  .cardListContainer {
    padding: 0 2rem;
  }

  .skeletonProfileCard {
    display: none;
  }

  .skeletonCard {
    width: 100%;
  }
}

/* 모바일 (~767px) */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    padding: 0;
    padding-bottom: 5rem;
    max-width: 100%;
    overflow-x: hidden;
  }

  .cardList {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }

  .cardListContainer {
    padding: 0 1rem;
  }

  .skeletonProfileCard {
    display: none;
  }

  .skeletonCard {
    width: 100%;
  }
}
