/* src/app/conference/[id]/styles.module.css */

.conferenceDetailLayout {
  display: flex;
  gap: 1rem;
  padding-top: 6rem;
  max-width: 77.5rem;
  margin: 0 auto;
  height: 200%;
}

.conferenceDetailContent {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.eventInfoCardContentDate,
.eventInfoCardContentPrice {
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    color: var(--Neutral-20);

    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.04rem;
  }
}

.eventInfoCardContentPlaceList {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.eventInfoCardContentPlace {
  display: flex;
  align-items: center;
  gap: 0.375rem;

  p {
    color: var(--Neutral-20);

    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.04rem;
  }
}
