/* src/components/common/EventCard/styles.module.css */

.eventCard {
  width: 18.8125rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  overflow: visible;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
  }
}

.eventCardInner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1.25rem;
  border-radius: inherit;
  background: var(--Common-white);
  overflow: hidden;
}

.large {
  width: 21.875rem;
}

.medium {
  width: 18.8125rem;
}

.small {
  width: 18.4625rem;
}

.block {
  flex: 1;
}

.eventCardContentContainer {
  flex: 1;
  padding: 0 1rem;
}

.eventCardImage {
  position: relative;
  width: 100%;
  height: 13.25rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.eventCardImageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.eventCardImageOverlayButton {
  display: flex;
  width: 2.625rem;
  height: 2.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  aspect-ratio: 1/1;

  border-radius: 0.25rem;
  background: #8e8e8e;
}

.eventCardContentBodyItemTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  height: 4.25rem;
}

.eventCardContentBodyItemTitleMedium {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  height: 3.75rem;
}

.eventCardContentBodyDatePlaceItemText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--Neutral-40);
  text-overflow: ellipsis;
}

.bookmarkIcon {
  color: var(--Common-white);
}

.bookmarkIconActive {
  color: var(--Common-black);
}

/* 태블릿 (768px ~ 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .eventCard {
    width: 100%;
  }

  .large,
  .medium,
  .small {
    width: 100%;
  }

  .eventCardImage {
    height: 11rem;
  }

}

/* 소형 태블릿 (480px ~ 767px) */
@media (min-width: 480px) and (max-width: 767px) {
  .eventCard {
    width: 100%;
  }

  .large,
  .medium,
  .small {
    width: 100%;
  }

  .eventCardInner {
    padding-bottom: 1rem;
  }

  .eventCardImage {
    height: 11rem;
  }

  .eventCardContentContainer {
    padding: 0 0.75rem;
  }

  .eventCardImageOverlay {
    padding: 0.75rem;
  }
}

/* 모바일 (~479px) */
@media (max-width: 479px) {
  .eventCard {
    width: 100%;
  }

  .large,
  .medium,
  .small {
    width: 100%;
  }

  .eventCardInner {
    padding-bottom: 1rem;
  }

  .eventCardImage {
    height: 10rem; /* 160px */
  }

  .eventCardContentContainer {
    padding: 0 0.75rem;
  }

  .eventCardImageOverlay {
    padding: 0.75rem;
  }

  .eventCardImageOverlayButton {
    width: 2rem;
    height: 2rem;
  }
}
