/* 
  작성자 : 김재혁
  최초 작성일 : 2025-08-21
  최종 수정일 : 2025-09-30
*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  color: #000;
  background: #fff;
}

#wrap {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p, blockquote, figure, 
dl, dd, ol, ul {
    margin: 0;
}

ul, ol {
    list-style: none;
}

/* 버튼 css */
button, .btn {
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    line-height: 1.6;
    color: #000;
}

/* 테이블 css */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

img, video, iframe {
    max-width: 100%;
    height: auto;
    border: 0;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* main 공통 css */
#container {
    height: 100vh;
}
