/* src/app/profile/edit/styles.module.css */

.container {
  max-width: 1240px;
  height: calc(100vh - 12rem);
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  width: 10rem;
}

.itemGroup {
  width: 61.25rem;
}

.marketingSection {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background: var(--Neutral-99);
}

.marketingSection.active {
  background: var(--Primary-ExtraLight);
}

.footerButtons {
  width: 100%;
}

.footerButton {
  width: 7.5rem;
}

/* 태블릿 (768px ~ 1279px) */
@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 100%;
    height: auto;
    padding: 0 2rem;
    padding-bottom: 5rem;
  }

  .header {
    width: 100%;
  }

  .itemGroup {
    width: 100%;
  }

  .marketingSection {
    padding: 1rem;
  }

  .footerButtons {
    width: 100%;
  }

  .footerButton {
    flex: 1;
    width: auto;
  }
}

/* 모바일 (~767px) */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    height: auto;
    padding: 0 1rem;
    padding-bottom: 5rem;
  }

  .header {
    width: 100%;
  }

  .itemGroup {
    width: 100%;
  }

  .marketingSection {
    padding: 1rem;
  }

  .footerButtons {
    width: 100%;
  }

  .footerButton {
    flex: 1;
    width: auto;
  }
}
