/* src/components/login/ProfileModal/styles.module.css */

.profileModal {
  display: flex;
  width: 15rem;
  padding: 1.5rem 1.25rem;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  background: var(--Common-white);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
}

.profileModalHeader {
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--Line-neutral);
}

.profileModalHeaderLeft {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profileModalHeaderRight {
  display: flex;
  flex-direction: column;
}

.profileModalContent {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.profileModalContentItem {
  display: flex;
  padding: 0.4375rem 0;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.profileModalContentItemTitle {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.bookmarkIconWrapper {
  display: flex;
  align-items: center;
  transition: color 0.2s, fill 0.2s, stroke 0.2s;
}

.bookmarkIconWrapper--hover {
  /* 필요에 따라 색상, 예시에서는 강조 */
  /* 메인 색상이나 원하는 색상으로 변경하세요 */
}
