/* src/components/login/ProfileModal/styles.module.css */

.modal {
  display: flex;
  width: 15rem;
  padding: 1.5rem 1.25rem;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  background: var(--Common-white);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
}

.header {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--Line-neutral);
}

.headerImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.headerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menuItem {
  padding: 0.4375rem 0;
  cursor: pointer;
}

.logoutBtn {
  margin: 0 0.25rem;
  display: flex;
  padding-bottom: 0.125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-bottom: 1px solid var(--Neutral-60);
  width: fit-content;
}
