/* src/components/login/ProfileModal/styles.module.css */

.modal {
  display: flex;
  width: 15rem;
  padding: 1.5rem 1.25rem;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  background: var(--Common-white);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
}

.header {
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--Line-neutral);
}

.headerImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.headerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headerInfo {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.menuItem {
  display: flex;
  padding: 0.4375rem 0;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menuItemTitle {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
