/* src/components/events/ArticleCard/styles.module.css */

.container {
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.container:hover {
  transform: translateY(-4px);
}

.articleCardImage {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 13.5625rem;
}

.articleCardImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.articleCardImageOverlay {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}

.articleCardImageOverlayBadge {
  background-color: var(--Primary-strong);
  border-radius: 0.125rem;
  padding: 0.125rem 0.375rem;
}

.articleCardTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleCardDescription {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleCardBadge {
  background-color: var(--Neutral-99);
  border-radius: 0.125rem;
  padding: 0.125rem 0.375rem;
}
