/* src/components/common/Accordion/styles.module.css */

.item {
  border-bottom: 1px solid var(--Line-normal);
  padding: 1.25rem 1.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  text-align: left;
}

.answerTitle {
  width: 2rem;
  flex-shrink: 0;
  text-align: center;
  letter-spacing: -0.06rem;
}

.icon {
  flex-shrink: 0;
  transition: transform 0.3s ease;
  color: var(--Neutral-50);
}

.item.open .icon {
  transform: rotate(180deg);
}
