/* src/app/profile/edit/styles.module.css */

.container {
  max-width: 1240px;
  height: calc(100vh - 6rem);
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 10rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.itemGroup {
  width: 61.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.marketingSection {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--Neutral-99);
}

.marketingSection.active {
  background: var(--Primary-ExtraLight);
}

.marketingText {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.marketingTitle {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.footerButton {
  width: 7.5rem;
}

.interestSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fieldWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fieldLabel {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.skeletonWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
