/* src/components/common/Checkbox/styles.module.css */

.checkboxWrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkboxWrapper.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkboxCustom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  transition: opacity 0.2s ease;
}

.checkboxCustom.large {
  width: 2rem;
  height: 2rem;
}

.checkboxCustom.small {
  width: 1.5em;
  height: 1.5em;
}

.checkboxCustom.middle {
  width: 1.75rem;
  height: 1.75rem;
}

.checkboxCustom svg {
  width: 100%;
  height: 100%;
}

.checkboxInput:focus + .checkboxCustom {
  outline: 2px solid var(--Primary-strong);
  outline-offset: 2px;
  border-radius: 0.25rem;
}

.checkboxWrapper:hover .checkboxCustom {
  opacity: 0.8;
}
