/* src/components/myPage/bookmarks/ProfileCard/styles.module.css */

.card {
  position: sticky;
  top: 6rem;
  width: 18.5625rem;
  height: fit-content;
  padding: 1.5rem 1.25rem;
  border-radius: 0.5rem;
  background: var(--Common-white);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

/* 모바일/태블릿 카드 */
.cardMobile {
  width: 100%;
  padding: 1.5rem 1rem 2rem;
  border-bottom: 8px solid var(--Neutral-99);
  background: var(--Common-white);
  box-sizing: border-box;
}

.header {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--Line-neutral);
}

.headerImage {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  overflow: hidden;
  background: var(--Common-black);
}

.headerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item {
  padding: 0.25rem 0;
}
