/* src/app/support/styles.module.css */

.container {
  width: 100%;
  min-height: calc(100vh - 6rem);
  background: var(--Common-white);
}

.content {
  max-width: 1240px;
  margin: 0 auto;
}

.mobileContent {
  padding: 0 1rem;
  padding-bottom: 5rem;
}

.faqSection {
  width: 100%;
}

/* 태블릿 (768px ~ 1279px) */
@media (min-width: 768px) and (max-width: 1279px) {
  .content {
    max-width: 100%;
    padding: 0 2rem;
  }
}

/* 모바일 (~767px) */
@media (max-width: 767px) {
  .content {
    max-width: 100%;
  }
}
