/* src/app/my/bookmarks/styles.module.css */

.bookmarkPageLayout {
  display: flex;
  max-width: 77.5rem;
  margin: 0 auto;

  gap: 1rem;
  padding-bottom: 12.5rem;
}

.bookmarkListContainer {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
}

.bookmarkListHeader {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.bookmarkListHeaderFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookmarkCardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.75rem 0.75rem;
}
